<?xml version="1.0"?>

<launch>
    <node name="PIDNet" pkg="PIDNet" type="ros_infer.py" cwd="node" output="screen"/>

    <node pkg="rosbag" type="play" name="play" args="/home/amsl/bagfiles/rwrc/traficlight-2021-10-24-13-17tsukuba.bag">

        <remap from="/front_cam/color/image_raw/compressed" to="/CompressedImage" />
    </node>
    <node pkg="rviz" type="rviz" name="rviz" />
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find traffic_light_detector)/config/config.rviz"/> -->
</launch>
